@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e2e2e2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F08223;
    padding: 1em;
    width: 100%;
}

#apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

#menu {
    display: flex;
    gap: 1em;
}

#logo {
    height: 3em;
}

#projeto-img {
    max-height: 2em;
}

#projeto {
    font-weight: bolder;
}

#menu-projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    max-width: 80%;
}

#descricao {
    text-align: center;
    max-width: 50%;
}

#reflexao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#introducao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

#introducao-problema {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

#introducao-tema {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

#reflexao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    transition: all 0.5s ease-in-out;
}

.grupo {
    max-width: 10em;
    border-radius: 100%;
}

#equipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 1em;
    flex-wrap: wrap;
}

.member {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    width: 30%;
    transition: all 0.5s ease-in-out;
}

.member:hover {
    transform: scale(1.2);
}

.member-info {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1em;
    color: #000;
    max-width: 50%;
}

.icon-member {
    max-width: 5em;
}

.member-info a {
    color: #000;
}

#reflexao-titulo {
    text-align: center;
    max-width: 70%;
}

#reflexao-texto {
    text-align: center;
    max-width: 70%;
}

#equipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#msg {
    width: 100%;
    padding: 0.2em 0.2em 0.2em 2em;
    border: 1px solid #F08223;
}

#ideia {
    max-height: 1em;
    position: absolute;
    top: 0.2em;
    left: 0.4em;
}

#msg:focus {
    outline-color: #F08223;
}

#msg::placeholder {
    color: #F08223;
}

#sugestao {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enviar {
    background-color: #F08223;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    cursor: pointer;
    display: flex;
    gap: 0.5em;
}

#enviar:hover {
    background-color: #fff;
    border: 1px solid #F08223;
    color: #F08223;
}

#send {
    max-height: 1em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    background-color: #F08223;
    gap: 0.5em;
    color: #fff;
    width: 100%;
}

@media (max-width: 1670px) {
    .member {
        width: 45%;
    }
}

@media (max-width: 1100px) {
    .member {
        width: 80%;
    }

    #reflexao-titulo {
        text-align: left;
        max-width: 100%;
    }

    .grupo {
        max-width: 7em;
        border-radius: 100%;
    }

    .member-name{
        font-size: 1em;
    }

    #descricao {
        text-align: left;
        max-width: 50%;
    }

    #apresentacao {
        justify-content: left;
        align-items: left;
    }

    #reflexao-texto {
        text-align: left;
        max-width: 100%;
    }

    #introducao {
        flex-direction: column;
    }

}

@media (max-width: 600px) {
    .member {
        width: 105%;
    }
}